body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: powderblue;
	background-image: linear-gradient(to right, white, powderblue);
}

header {
    background: deepskyblue;
    color: white;
    padding: 10px 0;
    text-align: center;

}

h1{
 position: absolute;
  top: 1px;
  right: 40px;
  font-size: 25px;
  font-family: 'Brush Script MT', cursive;
  color: white;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    border: 3px solid black;
    padding: 10px;
    border-radius: 12px;
	outline-style: outset;
	outline-color: white;
}

section {
    padding: px;
    margin: 20px;
	position: relative;
	bottom: 50px;
  
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 350px ;
    height: auto ;
    border-radius: 50%; 
	position: relative;
	top: 100px;
}

h2 {
    color: #333;
	
    
}

footer {
    background: deepskyblue;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}